@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* UOIONHHC */
.markdown-body h1 {
  @apply text-2xl font-bold mt-6 mb-4;
}

.markdown-body h2 {
  @apply text-xl font-bold mt-4 mb-3;
}

.markdown-body p {
  @apply mb-3;
}

.markdown-body ul {
  @apply list-disc list-inside mb-3;
}

.markdown-body ol {
  @apply list-decimal list-inside mb-3;
}

.markdown-body code {
  @apply bg-gray-100 px-1 py-0.5 rounded text-sm;
}

.markdown-body pre {
  @apply bg-gray-100 p-4 rounded overflow-x-auto mb-3;
}
